<%
  extra_classes ||= ""
  prefix ||= ""
%>

<div class="form-info">
  <form method="post" action="" class="<%= prefix %>_form-info__form">
    <div class="form-item">
      <%= partial("modules/input", :locals => {
        :extra_classes => '',
        :extra_attributes => '',
        :placeholder => "Nombre y apellidos",
        :name => prefix+"_name",
        :type => "text"
      }) %>
    </div>
    <div class="form-item">

      <%= partial("modules/select", :locals => {
        :extra_classes => '',
        :name => prefix+"_phone-prefix",
        :options => ['+34', '+23', '+43']
      }) %>


      <%= partial("modules/input", :locals => {
        :extra_classes => '',
        :placeholder => "Número",
        :name => prefix+"_phone",
        :type => "text"
      }) %>
    </div>

    <div class="form-item">
      <%= partial("modules/input", :locals => {
        :extra_classes => '',
        :extra_attributes => '',
        # :extra_attributes => ' required data-rule-email="true" data-msg-required="Please enter your email address" data-msg-email="Please enter a valid email address"',
        :placeholder => "Mail",
        :name => prefix+"_mail",
        :type => "email"
      }) %>
    </div>

    <div class="form-item">
      <%= partial("modules/input", :locals => {
        :extra_classes => '',
        :extra_attributes => '',
        # :extra_attributes => ' data-rule-required="true" data-msg-required="Please enter a message"',
        :placeholder => "Mensaje",
        :name => prefix+"_message",
        :type => "text"
      }) %>
    </div>

    <div class="form-item">
      <%= partial("modules/checkbox", :locals => {
        :extra_classes => '',
        :label => "Acepto la <a href='http://development.flyingpigs.es/casas-es-trenc/build/politica-de-privacidad/' target='_blank'>política de privacidad.</a>",
        :name => prefix+"_lega"
      }) %>
    </div>

    <%= partial("modules/button", :locals => {
      :extra_classes => 'btn--block btn--primary',
      :type => "submit",
      :text => "Enviar solicitud"
    }) %>
  </form>
</div>