<%
  extra_classes ||= ""
  prefix ||= ""
%>

<div class="form-catalog">
  <form>
    <div class="form-item">
      <%= partial("modules/input", :locals => {
        :extra_classes => '',
        :placeholder => "Nombre",
        :name => prefix+"-name",
        :type => "text"
      }) %>
    </div>

    <div class="form-item">
      <%= partial("modules/input", :locals => {
        :extra_classes => '',
        :placeholder => "Mail",
        :name => prefix+"-mail",
        :type => "email"
      }) %>
    </div>

    <div class="form-item">
      <%= partial("modules/input", :locals => {
        :extra_classes => '',
        :placeholder => "Dirección",
        :name => prefix+"-address",
        :type => "text"
      }) %>
    </div>

    <div class="form-item">
      <%= partial("modules/checkbox", :locals => {
        :extra_classes => '',
        :label => "Acepto la <a href='http://development.flyingpigs.es/casas-es-trenc/build/politica-de-privacidad/' target='_blank'>política de privacidad.</a>",
        :name => prefix+"-lega",
      }) %>
    </div>

    <%= partial("modules/button", :locals => {
      :extra_classes => 'btn--block btn--primary',
      :type => "submit",
      :text => "Enviar solicitud"
    }) %>
  </form>
</div>