<%
  extra_classes ||= ""
  type ||= ""
  title ||= ""
  image ||= ""
  text ||= ""
  content ||= ""
  sector_list ||= []
  modal_prefix ||= ''
  images_gallery ||= []
  ribbon ||= false
%>


<div class="sector <%= extra_classes %>">
  <div class="sector__header" style="background-image: url(<%= image %>);">
    <div class="sector__header__content">
      <% if ( type == 'ubicacion') %>
        <div class="sector__header__content__text"><%= text %></div>
      <% end %>
      <p class="sector__header__content__title"><%= title %></p>
      <% if ( type == 'sector') %>
        <div class="sector__header__content__text"><%= text %></div>
      <% end %>
      <%# if ( type == 'vivienda') %>
        <!-- <div class="cnt-button"> -->
          <%#= partial("modules/button", :locals => {
            :extra_classes => 'btn--sm btn--secondary',
            :type => "button",
            :text => "Solicita un catálogo"
          }) %>
        <!-- </div> -->
      <%# end %>
      <button type="button" class="btn-arrow-down btn-sector"><span class="icon-arrow-down"></span></button>
    </div>
    <% if ( ribbon ) %>
      <div class="sector__header__ribbon">
        <span class="content">9 últimas unidades</span>
      </div>
    <% end %>
  </div>
  <div class="sector__content">
    <%= content %>
    <% if sector_list.count > 0 %>
      <div class="sector__content__list">
        <% sector_list.each do | item | %>
          <div class="sector__content__list__item">
            <%= image_tag(item[:image], :class => 'item-image')%>
            <p class="title">
              <%= item[:title] %>
            </p>
            <p class="text">
              <%= item[:text] %>
            </p>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if ( type == 'vivienda') %>
      <div class="gallery">
        <div class="swiper-container gallery__top">
          <div class="swiper-wrapper">
            <% if images_gallery.count > 0 %>
              <% images_gallery.each do | galleryImage | %>
                <div class="swiper-slide">
                  <%= image_tag(galleryImage, :class => '') %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="swiper-container gallery__thumbs">
          <div class="swiper-button-prev gallery__thumbs__prev"><span class="icon-arrow-left-alt"></span></div>


          <div class="swiper-wrapper">
            <% if images_gallery.count > 0 %>
              <% images_gallery.each do | galleryThumb | %>
                <div class="swiper-slide">
                  <%= image_tag(galleryThumb, :class => '') %>
                </div>
              <% end %>
            <% end %>
          </div>


          <div class="swiper-button-next gallery__thumbs__next"><span class="icon-arrow-right-alt"></span></div>
        </div>

        <div class="row center-xs">
          <div class="col-md-3 col-sm-4">
            <%#= partial("modules/button", :locals => {
              :extra_attributes => ' data-modal-open="modal-catalog"',
              :extra_classes => 'btn--sm btn--primary',
              :type => "button",
              :text => "Solicita un catálogo"
            }) %>
          </div>
        </div>

        <div class="row center-xs">
          <div class="col-md-3 col-sm-4">
            <a href="#" class="link">Ver memoria de calidades <span class="icon-arrow-right"></span></a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% if ( type == 'vivienda') %>
  <%#= partial("modules/modal", :locals => {
      :modal_selector => 'modal-catalog',
      :extra_classes => 'modal-catalog',
      :title => 'Solicita un catálogo',
      :content => partial("modules/form-catalog", :locals => {
          :extra_classes => '',
          :prefix => modal_prefix
        })
    }) %>
  <% end %>
  