<%
  extra_classes ||= ""
  label ||= ""
  name ||= ""
  options || ""
%>

<div class="select <%= extra_classes %>">
  <% if label != '' %>
    <label for="<%= name %>" class="select__label"><%= label %></label>
  <% end %>
  <select id="<%= name %>" class="select__field">
    <% options.each do | option | %>
      <option><%= option %></option>
    <% end %>
  </select>
</div>
