---
title: Contacto
layout: layout
---
<%= partial("shared/header", :locals => {
  :extra_classes => '',
  :active => 'contacto'
}) %>

<div class="content__wrapper contacto">
  <p class="contacto__title">Contacte con nosotros</p>
  <p class="contacto__text">
    ¿Necesita más información o desea concertar una visita? Nuestro equipo de profesionales de Urnova en Mallorca están a su disposición.
  </p>
  <div class="contacto__info">
    <div class="contacto__info__content">
      <div class="contacto__info__content__block">
        <p class="contacto__info__content__title">
          CASAS ES TRENC OFICINA DE VENTAS
        </p>
        <p class="contacto__info__content__address">
          Carrer de sa Vinyola
          <br />
          07639 Sa Ràpita - Campos
          <br />
          Illes Balears, Spain
        </p>
        <p><a href="mailto:info@casasestrencmallorca.com"><span class="icon-mail"></span>info@casasestrencmallorca.com</a></p>
        <p><a href="tel:+34871811998"><span class="icon-tel"></span>(+34) 871811998</a></p>
      </div>
      <div class="contacto__info__content__block">
        <p class="contacto__info__content__title">
          URNOVA, OFICINA EN MALLORCA
        </p>
        <p class="contacto__info__content__address">
          C/ Joan Maragall, 38 Local 9
          <br />
          07006 Palma de Mallorca, España
        </p>
        <p><a href="mailto:info@urnova.com"><span class="icon-mail"></span>info@urnova.com</a></p>
        <p><a href="tel:+34971274282"><span class="icon-tel"></span>(+34) 971274282</a></p>
        <p><a href="http://www.urnova.com" class="link" target="_blank">www.urnova.com</a></p>
      </div>
    </div>
    <div class="contacto__info__map">
      <div class="map" id="map"></div>
    </div>
  </div>

  <div class="container">
    <div class="row center-xs">
      <div class="col-sm-8 col-md-4 col-xs-12">
        <div class="contacto__form">
          <p class="contacto__form__title">Más información</p>
          <p class="contacto__form__text">Envíenos sus preguntas y le atenderemos a la mayor brevedad.</p>
          <form>
            <div class="form-item">
              <%= partial("modules/input", :locals => {
                :extra_classes => '',
                :placeholder => "Nombre y apellidos",
                :name => "contact-name",
                :type => "text"
              }) %>
            </div>
            <div class="form-item">

              <%= partial("modules/select", :locals => {
                :extra_classes => 'small',
                :name => "contact-phone-prefix",
                :options => ['+34', '+23', '+43']
              }) %>


              <%= partial("modules/input", :locals => {
                :extra_classes => '',
                :placeholder => "Número de teléfono",
                :name => "contact-phone",
                :type => "text"
              }) %>
            </div>

            <div class="form-item">
              <%= partial("modules/input", :locals => {
                :extra_classes => '',
                :placeholder => "Mail",
                :name => "contact-mail",
                :type => "email"
              }) %>
            </div>

            <div class="form-item">
              
              <%= partial("modules/select", :locals => {
                :extra_classes => '',
                :name => "contact-subject",
                :options => ['Visita directa con el promotor', 'Visita directa con el promotor', 'Visita directa con el promotor']
              }) %>

            </div>

            <div class="form-item">
              <%= partial("modules/input", :locals => {
                :extra_classes => '',
                :placeholder => "Mensaje",
                :name => "contact-message",
                :type => "text"
              }) %>
            </div>

            <div class="form-item">
              <%= partial("modules/checkbox", :locals => {
                :extra_classes => '',
                :label => "Acepto la <a href='http://development.flyingpigs.es/casas-es-trenc/build/politica-de-privacidad/'>política de privacidad.</a>",
                :name => "contact-lega",
              }) %>
            </div>

            <%= partial("modules/button", :locals => {
              :extra_classes => 'btn--block btn--primary',
              :type => "submit",
              :text => "Enviar"
            }) %>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
<%= partial("shared/footer") %>
